html {
    background-color: rgb(58, 41, 99);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 41, 99);
}

.header {
    position: relative;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -20px;
    background-color: rgb(10, 5, 24);
    width: 100vw;
    color: antiquewhite;   
}

.gameContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;    
}

.armeria {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.armeria > div {
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 10px;
    background-color: rgb(69, 47, 121);
}

h1 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #fac650;
    font-size: larger;
  }

h2 {
    justify-content: space-between;
    color: whitesmoke;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
}
  
.status {
    margin: 20px;
    display: flex; 
    justify-content: space-between;
    color: whitesmoke;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-left: 20px;
}

.weaponChosen {
    position: relative;
    right: 0px;
    justify-content: center;
    align-items: center;
    top: 20px;
}

.coso {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 300px;
    background-color: #222831;;
    align-items: center;
    justify-content: center;
}

button {
    width: 150px;
    border: none;
    color: whitesmoke;
    background-color: #393e46;;
    outline: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;

}

.coso > p {
    font-size: xx-large;
    color: #fac650;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
}

.innactive {
    display: none;
    opacity: 0%;
}

footer {
    position: relative;
    bottom: 0;
    left: 35%;
    display: flex;
    color: #ddd;;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .gameContainer {
        display: flex;
        flex-direction: column;
    }

    .status {
        width: 200px;
        margin-left: -130px;
        gap: 20px;
    }

    .armeria {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 40px;
    }

    .armeria > div > img {
        height: 80px;
    }

    .header {
        width: 100%;
    }

    h1 {
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
        color: #fac650;
        font-size: medium;
    }
}



