.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 41, 99);
}

.header {
    background-color: rgb(10, 5, 24);
    width: 100%;
    color: antiquewhite;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.armeria {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.armeria > div {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 1px 1px 10px;
    background-color: rgb(69, 47, 121);
}

h1 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #fac650;
  }

h2 {
    font-size: inherit;
    justify-content: space-between;
    color: whitesmoke;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
}
  
.status {
    margin: 20px;
    display: flex; 
    justify-content: space-between;
    color: whitesmoke;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-left: 20px;
}